<br>
<div class="row text-center  panel interaction-box " id="tables_JS">

  <div class="panel large-6 columns">
    <p><%= image_tag @user.profile_picture, class: 'user-picture' %></p>
    <h1><%= @user.username %></h1>
    <% if @user == current_user %>
      <li><%= link_to 'Add vocabulary', new_user_interaction_path(@user), class: 'button expand add_vocabulary' %></li>
    <% end %>
  </div>
  <div class=" large-6 columns vocabulary_box">
      <h1>Vocabulary</h1>
    </br>
      <ul class="stack button-group" data-toggle="buttons-radio">
        <li>
          <input type="radio" id="r1" name="r-group" data-toggle="button">
          <label class="button" id="r1" for="r1">Sentences</label>
        </li>
        <li>
          <input type="radio" id="r2" name="r-group" data-toggle="button">
          <label class="button" for="r2">Keyword</label>
        </li>
        <li>
          <input type="radio" id="r3" name="r-group" data-toggle="button">
          <label class="button" for="r3">Combo</label>
        </li>
      </ul>
    </div>
</div>




<div class="row large-12 medium-centered columns">

  <div class="sentences row text-center hidden" id="sentences">
    <%= render 'interactions/sentences' %>
  </div>

  <div class="keywords row text-center hidden" id="keywords">
    <%= render 'interactions/keywords' %>
  </div>

  <div class="combo row text-center hidden" id="combo">
    <%= render 'interactions/combo' %>
  </div>
</div>
