<br>
<div class="row text-center profile panel profile-box"  id="tables_JS">
  <div class="panel large-4 columns">
    <p><%= image_tag @bot.avatar, class: 'user-picture' %></p>
    <h1><%= @bot.name %></h1>
    <% if @user == current_user %>
      <% if @user == current_user || current_user.role == "Admin"%>
        <ul class= "button-group">
          <li><%= link_to 'Edit', edit_bot_path(@bot), class: 'button small' %></li>
          <li><%= button_to 'Delete', bot_path(@bot), data: { confirm: "Are you sure?" }, method: :delete, class: 'button small' %></li>
          <li><%= link_to 'Reset', bot_reset_path(@bot), class: 'button small' %></li>
        </ul>
      <% end %>
    <% end %>
      <ul class="stack button-group" data-toggle="buttons-radio">
        <li>
          <input type="radio" id="r1" name="r-group" data-toggle="button">
          <label class="button" id="r1" for="r1">Sentences</label>
        </li>
        <li>
          <input type="radio" id="r2" name="r-group" data-toggle="button">
          <label class="button" for="r2">Keywords</label>
        </li>
        <li>
          <input type="radio" id="r3" name="r-group" data-toggle="button">
          <label class="button" for="r3">Combo</label>
        </li>
      </ul>
    </div>

    <div class="large-8 columns">
      <h2>Description</h2>
      <ul>
        <li>Gender: <%= @bot.gender %></li>
        <li>Age: <%= @bot.age %></li>
        <li>Vocabulary: <%= @bot.interactions.count  %></li>
        <li><%= @bot.description %></li>
      </ul>
      <div class="bot_tables">
        <div class="sentences row text-center hidden" id="sentences">
          <%= render 'sentences' %>
        </div>

        <div class="keywords row text-center hidden" id="keywords">
          <%= render 'keywords' %>
        </div>

        <div class="combo row text-center hidden" id="combo">
          <%= render 'combo' %>
        </div>
      </div>
  </div>
</div>
