<!DOCTYPE html>
<html>
<head>
  <title>Bae</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <% if current_user %>
            <%= link_to 'BAE', user_path(current_user) %>
            <% else %>
              <%= link_to 'BAE', root_path %>
            <% end %>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to 'Users', users_path %></li>
          <% if current_user %>
            <li class="divider"></li>
            <li><%= link_to 'Dashboard', user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Vocabulary', user_interactions_path(current_user) %></li>
            <li class="divider"></li>


            <% unless current_user.bots.empty? %>
              <li><%= link_to current_user.bots[0].name, user_bot_path(current_user, current_user.bots[0])  %></li>
            <% else %>
              <li class="divider"></li>
              <li><%= link_to 'Create new BAE', new_bot_path %></li>
              <% end %>
          <% end %>

          <%- if !current_user -%>
            <li class="divider"></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>

          <%- if current_user -%>
            <li class="divider"></li>
            <li class="has-dropdown">
              <%= link_to 'Profile', user_path(current_user.id) %>
              <ul class="dropdown">
                 <li><%= link_to 'Edit profile', edit_user_registration_path(current_user.id) %></li>
                 <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
               </ul>
             </li>
          <% end %>

        </ul>
      </section>
    </nav>

    <%- flash.each do |key, value| -%>
      <div class="alert-box <%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= yield :extra_footer %>

  <div class="large-12 small-centered columns">
    <footer class="row text-center">
      <hr/>
        <table class="shareable text-center large-12 small-6 columns" style="border: none;">
          <tr class="text-center">
            <td><%= facebook_button %></td>
            <td><%= twitter_button %></td>
            <td><%= google_plus_button %></td>
            <td><%= reddit_button %></td>
            <td><%= tumblr_button %></td>
            <td><%= linkedin_button %></td>
          </tr>
        </table>
      <div class='copyright'>
        © Copyright 2015 Pablo Ledesma.
      </div>

    </footer>
  </div>
  </body>
</html>
